@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./utilities.scss";
@import "./fonts.scss";

html {
  background: #071741;
  scroll-behavior: smooth;
}

.body-gradient {
  background: linear-gradient(119.2deg, #071741 22.38%, #010c27 93.45%);
}

.docs-paragraph a[target="_blank"] {
  @apply underline underline-offset-4 hover:underline-offset-8 text-white
}

p code {
  @apply bg-[#000B28] text-white rounded-sm p-1
}